@model IEnumerable<OrchestraBookingTicketsApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Users informations</h2>

<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {
        background-color: #c89797;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">
                        <input type="submit" class="btn-warning" value="Edit" />
                    </a>
                    <a asp-action="Details" asp-route-id="@item.UserId">
                        <input type="submit" class="btn-info" value="Details" />
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.UserId">
                        <input type="submit" class="btn-danger" value="Delete" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
