@model OrchestraBookingTicketsApp.ViewModels.LocationModel.LocationViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>All locations</h2>
<p>
    <a asp-action="AddLocation">Add Location</a>
</p>

<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {
        background-color: #c89797;
    }
</style>
<table class="table" BORDERCOLOR=#c89797>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("City")
            </th>
            <th>
                @Html.DisplayName("Country")
            </th>
            <th>
                @Html.DisplayName("AddressQ")
            </th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Locations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>                
            </tr>
        }
    </tbody>
</table>
<div>
<input type="button" value="Back" class="btn success" onclick="location.href='@Url.Action("Index", "Orchestras")'" />
</div>