@model IEnumerable<OrchestraBookingTicketsApp.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Orchestra location</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {
        background-color: #c89797;
    }
</style>
<table class="table" BORDERCOLOR=#c89797>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orchestra)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orchestra.OrchestraId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                </td>
                <td>
                    <input type="button" value="Facilities" class="btn success" onclick="location.href='@Url.Action("Index", "BuildingFacilities")'" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
<input type="button" value="Back" class="btn success" onclick="location.href='@Url.Action("Index", "Orchestras")'" />
</div>