@model OrchestraBookingTicketsApp.Models.Orchestra

@{
    ViewData["Title"] = "Details";
}

<h2>More Details</h2>
<h4>
    Find out more details about the location where will be the event, the Leading artist and also the instruments
    that will be used at the selected orchestra by clicking the buttons below:
</h4>
<link rel="stylesheet" href="~/css/Button.css">
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
            @Html.Label("$")
        </dd>
    </dl>
</div>
<br>
    <td>
        <input type="button" value="Location" class="btn success" onclick="location.href='@Url.Action("Index", "Locations")'" />
        <input type="button" value="Instruments" class="btn success" onclick="location.href='@Url.Action("Index", "Instruments")'" />
        <input type="button" value="Artist" class="btn success" onclick="location.href='@Url.Action("Index", "LeadArtists")'" />
    </td>

    <br><br><br><br>
    <div>
        <input type="button" value="Back" class="btn success" onclick="location.href='@Url.Action("Index", "Orchestras")'" />
    </div>
