@model OrchestraBookingTicketsApp.ViewModels.OrchestraModel.OrchestraViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Orchestras</h2>
<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {background-color: #c89797;}    
</style>
<p>    
    <a asp-action="AddOrchestra" >
        <input type="submit" class="btn-success" value="Add Orchestra" />
    </a>
</p>
<table class="table"  BORDERCOLOR=#c89797>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orchestras)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrchestraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                @Html.Label("$")
            </td>
            <td>                
                <a asp-action="DeleteOrchestra" asp-route-id="@item.OrchestraId">
                    <input type="submit" class="btn-danger" value="Delete" />
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrchestraId" asp-controller="Locations">
                    <input type="submit" class="btn-warning" value="Location" />
                </a>
                <a asp-action="Index" asp-route-id="@item.OrchestraId" asp-controller="LeadArtists">
                    <input type="submit" class="btn-success" value="Lead Artist" />
                </a>
                <a asp-action="Index" asp-route-id="@item.OrchestraId" asp-controller="Instruments">
                    <input type="submit" class="btn-info" value="Instruments" />
                </a>
            </td>
            <td>
                <a asp-action="BookSeat" asp-route-id="@item.OrchestraId" asp-controller="Orchestras">
                    <input type="submit" class="btn btn-info" value="Book Seat" />
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

