@model IEnumerable<OrchestraBookingTicketsApp.Models.Orchestra>

@{
    ViewData["Title"] = "Index";
}

<h2>Available Orchestras</h2>
<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {background-color: #c89797;}    
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table"  BORDERCOLOR=#c89797>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                @Html.Label("$")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrchestraId">Edit</a> |                
                <a asp-action="Delete" asp-route-id="@item.OrchestraId">Delete</a>
            </td>
            <td>
                <input type="button" value="Details" class="btn success" onclick="location.href='@Url.Action("Details/"+ item.OrchestraId, "Orchestras")'" />         
            </td>
            <td>
                <input type="button" value="Book Now" class="btn success" onclick="location.href='@Url.Action("BookSeats", "Home")'" />
            </td>
        </tr>
        }
    </tbody>
</table>
