@model OrchestraBookingTicketsApp.Models.LeadArtist

@{
    ViewData["Title"] = "Index";
}

<h2>The lead artist in the Orchestra</h2>
<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {
        background-color: #c89797;
    }
</style>
@if (User.IsInRole("Administrator"))
{
    <a asp-action="AddLeadArtist" asp-controller="LeadArtists">Create New</a><br />
}
@if (Model != null)
{
    <table class="table" BORDERCOLOR=#c89797>
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Age")
                </th>
                <th>
                    @Html.DisplayName("Orchestra Title")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Orchestra.Title)
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div>
        <b>No Lead Artist found for this Orchestra.</b>
    </div><br />
}
<div>
    <input type="button" value="Back" class="btn success" onclick="location.href='@Url.Action("Index", "Orchestras")'" />
</div>