@model OrchestraBookingTicketsApp.ViewModels.OrchestraHistoryModel.OrchestraHistoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Orchestra history</h2>
<link rel="stylesheet" href="~/css/Button.css">
<style>
    tr:nth-child(even) {
        background-color: #c89797;
    }
</style>
<p>

<p>
    <a asp-action="AddOrchestraHistory">Create New</a>
</p>
<table class="table" BORDERCOLOR=#c89797>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Seat Number")
            </th>
            <th>
                @Html.DisplayName("Rating")
            </th>
            <th></th>          
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrchestraHistories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrchestraHistoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrchestraHistoryId">Details</a> |
                    <a asp-action="DeleteOrchestraHistory" asp-route-id="@item.OrchestraHistoryId">Delete</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <input type="button" value="Back" class="btn success" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>
